<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express</title>
  </head>
  <body>
    <h1>user page: <%= username %></h1>
    <!-- I dodnt understand why my 'if' doesn't work   -->
    <% if(username = 'john') { %>
    <ul>
      <% hobbies.forEach((el) => { %>
      <li><%= el %></li>
      <% } )%>
    </ul>

    <% } %>
  </body>
</html>
