<header>
  <span>Node <em>&</em> Express</span>
  <nav>
    <a href="/"> Main</a>
    <a href="/about">About</a>
  </nav>
  <form>
    <input type="text" placeholder="username" />
    <button>Serch</button>
  </form>
</header>
